.container1 {
    height: 40px;
    /* background-color:  rgb(255, 127, 127); */
}
.container{
    padding-right: 5px;
    display: flex;
    justify-content: flex-end;
    padding:0.25%

}

.btn{
    color:  rgb(255, 127, 127);
    background-color: rgb(110, 110, 110);
    border-color: rgb(249, 90, 90);
    border-width: 3px;
    border-radius: 5px;

}
