
.Fondo{
    background-color:rgba(46, 53, 33, 0.804);
    padding: 6px;
}

.input{
    border-radius: 5px;
    padding: 5px;
}
.boton{
    padding: 5px;
    background-color:  rgba(46, 53, 33, 0.804); ;
    color: aquamarine;
    border-color: aquamarine;
    border-radius: 5px;
    
}